@font-face {
    font-family: Avant garde;
    src: url(https://freefontsfamily.com/avant-garde-font/);
}


body {
    margin: 0%;
    font-family: montserrat;
}

button a {
    color: white;
    text-decoration: none;
}

.container_home {
    position: relative;
    max-width: auto;
    /* Maximum width */
    margin: 0 auto;
    /* Center it */
}

.container_home .content {
    position: absolute;
    /* Position the background text */
    bottom: 0;
    /* At the bottom. Use top:0 to append it to the top */

    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    /* Grey text */
    width: 100%;
    /* Full width */
    padding-top: 142px;
    padding-bottom: 10%;
    /* Some padding */
}

.container_home .button_home {
    text-align: center;
    margin-left: 37.5%;
    padding: 14px 39px;
    background-color: #5BB4B5;
    border: 2px white solid;
    color: white;

    font-size: 1.2em;
}

.button_home:hover {
    background: transparent;
    color: rgb(255, 255, 255);
}

.lijntje_home {
    margin-top: -40%;
    width: 292%;
    margin-left: -22%;
}

.logolijn_home {
    margin-left: 38%;
    width: 10%;
    text-align: center;
    align-content: center;
    margin-bottom: 3%;
    margin-top: 2%;
}

.logooo_home {
    width: 120%;
    margin-bottom: 15%;
    margin-left: 55%;
}

.campingjoseeh1 {
    text-align: center;
    color: rgb(48, 151, 146);
    font-size: 3em;
    margin-top: 6%;
}

.textcamping_home {
    margin-top: -8%;
}

span {
    text-decoration: underline;
}

/*mainnn*/
.main_home {
    background-color: rgb(240, 239, 236);

}

.lijntje_home2 {
    margin-top: -40%;
    width: 200%;
}

.logolijn_home2 {
    margin-left: 40%;
    width: 10%;
    text-align: center;
    align-content: center;
}

.logooo_home2 {
    width: 120%;
    margin-bottom: 20%;
    margin-left: 36%;
}

.campingjoseeh2 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 2em;
}

.backpic {
    width: 100%;
}

.container2_home {
    position: relative;
    margin-top: -8%;

}

.container2_home .content2 {
    position: absolute;
    bottom: 0;
    color: #000;
    width: 20%;
    padding-bottom: 10%;
    background-color: rgb(255, 255, 255);
    margin-left: 40%;
    border: 1px black solid;
    padding: 2%;
    box-shadow: 4px 4px 2px 1px rgba(56, 56, 56, 0.2);
}

.container2_home .button_home {
    text-align: center;
    margin-left: 0%;
    padding: 10px 10px;
    background: transparent;
    background-color: transparent;
    background-color: transparent;
    border: 1px rgb(0, 0, 0) solid;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    background-color: #27bad2;
    margin-top: 8%;
}

.container3_home {
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    margin-top: 10;
    padding-top: 3%;
    padding-bottom: 3%;
}

.container3_home .content3 {
    bottom: 0;
    color: #000;
    width: 40%;
    padding-bottom: 10%;
    background-color: rgb(240, 239, 236);
    margin-left: 5%;
    border: 1px black solid;
    padding: 2%;
    box-shadow: 4px 4px 2px 1px rgba(56, 56, 56, 0.2);
}

.container3_home .button_home {
    text-align: center;
    margin-left: 0%;
    padding: 14px 39px;
    background: transparent;
    background-color: transparent;
    border: 2px rgb(87, 87, 87) solid;
    color: rgb(54, 54, 54);
    font-size: 1.2em;
    background-color: #27bad2;
    margin-top: 8%;
}

.img3 {
    margin-left: 45%;
    box-shadow: 4px 4px 2px 1px rgba(56, 56, 56, 0.2);
}


.lijntje_home3 {
    margin-top: 40%;
    width: 200%;
}

.logolijn_home3 {
    margin-left: 40%;
    width: 10%;
    text-align: center;
    align-content: center;
    margin-top: 0%;
}

.logooo_home3 {
    width: 140%;
    margin-left: 30%;
    margin-top: 30%;
}

.main_home2 {
    background-color: white;
}

.campingjoseeh3 {
    margin-top: -20%;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 2em;
}



/* pagina activiteiten  */
/*navigatie*/
nav {
    background-color: #5BB4B5;
    display: flex;
    justify-content: flex-end;
}

a {
    color: white;
    text-decoration: none;
}

nav ul {
    width: max-content;

    padding-top: 5px;
    margin-right: 3%;
    color: white;
}

nav ul li {
    margin: 0 30px;
    display: inline-block;
    font-size: 1.1em;
}

/* zorgt voor het lijntje onder da actieve pagina */
#active {
    text-decoration: underline solid 2px white;
    color: #ffffff;
}

/*activiteiten*/

nav ul li:first-child {
    margin-left: 0;
}

nav ul li:last-child {
    margin-right: 0;
}





.blabla_act {
    display: grid;
    grid-template-columns: 1fr 1FR 1FR;
}


.grid_colums_act a {
    color: #5BB4B5;
    text-decoration: underline;
    font-size: 1.4em;


}

.navactboven {
    display: grid;
    grid-template-columns: 1fr 1Fr 1FR;
}

.navactboven a {
    color: #5BB4B5;
    text-decoration: underline;
    margin: 7%;
}

.navactboven p {
    width: 100%;
    margin-left: 101%;
    margin-right: 20%;
}

.imglogojosee {
    width: 15%;
    position: absolute;
    margin-top: -4%;
    margin-left: 6%;
}

.grid_colums_act ul {
    margin-left: 10%;
    margin-bottom: 8%;
}

.blabla_act div {
    margin-top: 1%;
    grid-column: 2/4;
    margin-left: 12.5%;
}

.blabla_act div h1 {
    text-align: center;
    font-size: 2em;
    margin-left: 2%;
    margin-top: -0.5%;
    font-weight: normal;
    margin-bottom: 7%;
}

.logooo_act {
    width: 25%;
}

.grid_colums_act {
    display: grid;
    grid-template-columns: 1fr 1FR 1FR;
    align-content: center;
    /* margin: 5%; */
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 7.5%;
}

.foto1_act {
    width: 75%;
}

.undertext {
    color: #5BB4B5;
    font-weight: bold;
}

.grid_colums_act .button_home {
    text-align: center;
    margin-left: 0%;
    padding: 10px 10px;
    background: transparent;
    background-color: transparent;
    background-color: transparent;
    border: 1px rgb(148, 148, 148) solid;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    background-color: #5BB4B5;
    margin-top: 8%;
}

.footerimg_act {
    margin-top: 10%;
    width: 100%;
}

/*carousel*/
* {
    box-sizing: border-box
}


.slideshow-container {
    max-width: 400px;
    position: relative;
    margin: auto;
    margin-top: auto;
    margin-top: 4%;
}


.mySlides {
    display: none;
}


.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

/* contact pagina */
#logooo_actbr {
    width: 100%;
}

.actvh1 {
    margin-left: 2%;
    font-weight: unset;
    font-size: 2em;
    margin-top: 0%;
}

#main_contact {
    width: 60%;
    margin: auto;
}

#main_contact .blabla_act {
    width: 70%;
}

#main_contact .blabla_act h1 {
    font-size: 2em;
}

#main_contact section:nth-child(3) {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#main_contact section:nth-child(3) div:nth-child(2) {
    display: grid;
    padding: 25px 40px;
}

.h1_cont {
    margin-left: 34.5%;
    margin-top: -2%;
    margin-bottom: 10%;

}

#main_contact input {
    height: 20px;
    border: none;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}

#main_contact #contact_button {
    padding: 10px;
    width: max-content;
    height: max-content;
    background-color: #33cccc;
    color: white;
}

.footerimgbr {
    width: 100%;
    margin-top: 12%;
}

#main_contact figure {
    display: grid;
    width: 70%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-top: 50px;
    margin-bottom: 0;
}

#main_contact figure img {
    width: 100%;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

.footerimg {
    margin-top: 2%;
    width: 100%;
}

/*footer*/
.footer {
    background-color: rgb(240, 239, 236);

    width: 100%;
    text-align: left;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 50px;
    margin-top: 50px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
    display: inline-block;
    vertical-align: top;
}


/* footer left*/

.footer .footer-left {
    width: 33%;
    padding-right: 15px;
}

.footer .about {
    line-height: 20px;
    color: #000000;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer .about span {
    display: block;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer .icons {
    margin-top: 25px;
}

.footer .icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #000000;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.abovefooter {
    background-color: #1a8391;
}

.abovefootertext {
    padding-top: 5%;
    color: white;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.buttonIn {
    width: 300px;
    position: relative;
    margin-left: 35%;
}

input {
    margin: 0px;
    padding: 0px;
    width: 150%;
    outline: none;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin-bottom: 20%;

}

.buttonfooter {
    position: absolute;
    top: 0px;
    border-radius: 20px;
    border: 1px solid white;
    left: 123.5%;
    z-index: 2;
    border: none;
    top: 2px;
    height: 36px;
    cursor: pointer;
    color: white;
    background-color: #188a99;
    transform: translateX(2px);
    width: 25%;
}



.inputabovefooter {
    padding-left: 10px;

}

/* footer center*/

.footer .footer-center {
    width: 30%;
}

.footer .footer-center i {
    background-color: #33383b;
    color: #000000;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer .footer-center p {
    display: inline-block;
    color: #000000;
    vertical-align: middle;
    margin: 0;
}

.footer .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer .footer-center p a {
    color: #2d7e7e;
    text-decoration: none;
}


/* footer right*/

.footer .footer-right {
    width: 35%;
}

.footer h2 {
    color: #000000;
    font-size: 36px;
    font-weight: normal;
    margin: 0;
}

.footer h2 span {
    color: #2d7e7e;
}

.footer .menu {
    color: #000000;
    margin: 20px 0 12px;
    padding: 0;
}

.footer .menu a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer .menu a:hover {
    color: #2d7e7e;
}

.footer .name {
    color: #2d7e7e;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/*activiteiten*/

/*galerij*/
.galerijdiv1 {
    margin-top: 1%;
}

.logooo_galerij {
    margin-left: 42.5%;
    width: 15%;
}

.galrijh1 {
    text-align: center;

    font-weight: unset;
    font-size: 2em;
    margin-top: 0%;
}

.maingalerij {
    display: grid;
    padding: 10%;
    padding-bottom: 0%;
    padding-top: 0%;
}

.maingalerij div {
    margin-bottom: 3%;
}

.eersterijfoto {
    display: grid;
    grid-template-columns: 1fr 1Fr 1FR;
    padding-left: 5%;
}

.tweederijfoto {
    display: grid;
    grid-template-columns: 1Fr 1Fr;
    padding-left: 5%;
}



.containergly {
    position: relative;
    width: 88%;
}

.imagegly {
    display: block;
    width: 100%;
    height: auto;
}

.overlaygly {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(51, 144, 156, 0.5);
}

.containergly:hover .overlaygly {
    opacity: 1;

}

.textgly {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

@media (max-width: 767px) {
    .footer {
        font-size: 14px;
    }

    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer .footer-center i {
        margin-left: 0;
    }
}

@media screen and (max-width: 480px) {
    .container_home .button_home {
        text-align: center;
        margin-left: 21.5%;
        padding: 0px 3px;
        background: transparent;
        border: 1px white solid;
        color: white;
        font-size: 1em;
        margin-top: -11%;
        margin-bottom: 13%;
    }

    .logolijn_home {
        margin-left: 15%;
        width: 30%;
        text-align: center;
        align-content: center;
        margin-bottom: 6%;
    }

    .texttelweg {
        display: none;
    }

    .campingjoseeh2 {
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: 1em;
    }

    span {
        text-decoration: underline;
        font-size: 0.5em;
        margin-left: 10%;
    }

    .campingjoseeh3 {
        margin-top: -20%;
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: 1em;
    }

    .textcamping_home {
        margin-top: -3%;
        font-size: 0.6em;
    }

    .campingjoseeh1 {
        text-align: center;
        color: rgb(48, 151, 146);
        font-size: 2em;
        margin-top: 6%;
    }

    .container2_home .content2 {
        position: absolute;
        bottom: 0;
        color: #000;
        width: 40%;
        padding-bottom: 10%;
        background-color: rgb(255, 255, 255);
        margin-left: 30%;
        border: 1px black solid;
        padding: 2%;
        box-shadow: 4px 4px 2px 1px rgba(56, 56, 56, 0.2);
    }


    .container2_home .button_home {
        text-align: center;
        margin-left: 24%;
        padding: 0px 0px;
        background: transparent;
        background-color: transparent;
        background-color: transparent;
        background-color: transparent;
        border: 2px rgb(87, 87, 87) solid;
        color: rgb(54, 54, 54);
        font-size: 0.8em;
        background-color: #27bad2;
        margin-top: 0%;
    }

    .img3 {
        margin-left: 5%;
        box-shadow: 4px 4px 2px 1px rgba(56, 56, 56, 0.2);
        width: 90%;
    }

    .container3_home .content3 {
        bottom: 0;
        color: #000;
        width: 90%;
        padding-bottom: 10%;
        background-color: rgb(255, 255, 255);
        margin-left: 5%;
        border: 1px black solid;
        padding: 2%;
        box-shadow: 4px 4px 2px 1px rgba(56, 56, 56, 0.2);
        font-size: 0.7em;
    }

    .slideshow-container {
        max-width: 200px;
        position: relative;
        margin: auto;
        margin-top: auto;
        margin-top: auto;
        margin-top: 4%;
    }

    .footer {
        background-color: rgb(240, 239, 236);
        width: 100%;
        text-align: left;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 16px;
        padding: 50px;
        margin-top: -33px;
    }

    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 16px;
        text-align: center;
    }

    /*activiteiten*/
    #logo_act {
        margin: 5px 25px;
        width: 300px;
        position: absolute;
        display: none;

    }

    nav ul li:first-child {
        margin-left: 30px;
    }

    #main_activiteit section:first-child {
        display: block;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
    }

    .blabla_act h1 {
        color: #000;
        font-size: 1em;
        margin-top: 0%;

    }

    .Acti_vb {
        background-color: #f3f3f3;
        border-top: solid 20px #33cccc;
        margin: 0 20px;
        margin-bottom: 0px;
        padding: 0 7% 30px 7%;
        box-shadow: 0px 10px 5px #dbdbdb;
        margin-bottom: 10%;
    }

    #roelsegers {
        width: 300px;
        margin: -100px auto 50px auto;
        padding: 9px;
        background-color: white;
        box-shadow: 0px 10px 5px #dbdbdb;
        min-height: 450px;
        z-index: 2;
        position: relative;
        border: solid 1px #dbdbdb;
    }

    #roelsegers h1 {
        text-align: center;
        color: #000000;
        font-size: 1em;
        margin-bottom: 30px;
    }

    #roelsegers p {
        text-align: center;
        margin: 0px 15%;
        font-size: 0.7em;
    }

    #talk_acti {
        width: 100%;
        margin-top: 75px;
        z-index: 1;
    }

    #roelsegers {
        width: 300px;
        margin: -100px auto 50px auto;
        padding: 9px;
        background-color: white;
        box-shadow: 0px 10px 5px #dbdbdb;
        min-height: 280px;
        z-index: 2;
        position: relative;
        border: solid 1px #dbdbdb;
        margin-bottom: 18%;
    }

    .grid_colums_act {
        display: block;
        grid-template-columns: 1fr 1FR 1FR;
        align-content: center;
        margin: 5%;
        margin-top: 0%;
        margin-bottom: 0%;
        margin-left: 7.5%;
    }

    .blabla_act div h1 {
        text-align: center;
        font-size: 1em;
        margin-left: -75%;
        margin-top: 0%;
        font-weight: normal;
        margin-bottom: 7%;
    }

    .grid_colums_act .button_home {
        text-align: center;
        margin-left: 0%;
        padding: 10px 10px;
        background: transparent;
        background-color: transparent;
        background-color: transparent;
        background-color: transparent;
        border: 1px rgb(148, 148, 148) solid;
        color: rgb(255, 255, 255);
        font-size: 1.2em;
        background-color: #5BB4B5;
        margin-top: 8%;
        margin-bottom: 20%;
    }
}